.about-page.container  {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem;
}

.about-page h1 {
  letter-spacing: 0.2rem;
  padding: 1.25rem;
  padding-bottom: 1.875rem;
}

.about-image img {
   max-height: 10rem;
  margin-bottom: 2rem;
}

.about-description p {
  line-height: 1.5rem;
  color: var(--clr-light);
}

.about__line {
  width: 50%;
  border-top: 0.125em solid var(--clr-primary);
  background-color: var(--clr-primary);
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.about__desc-team p {
  margin: 1rem;
  line-height: 2;
  color: var(--clr-primary);
  max-width: 85ch;
}

.about__team {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 8rem; 
  flex: 0 0 calc(20% - 1.25rem);
}

.about__meet-the-team {
  justify-content: center;
  max-width: 100%;
  max-width: 43.75rem;
  gap: 1rem;
  margin-top: 2rem;
}

.about__team img {
   border-radius: 80%;
}
.about__name .NLine {
  display: none; 
}
.about__name {
  color: var(--clr-primary);
  font-weight: bold;
  letter-spacing: 0.02rem;
  white-space: nowrap; 
  margin: 0.625rem 0;
}

.about__role {
  font-size: var(--size-sm);
  margin-bottom: 2rem;
  white-space: nowrap;
}

/**************************************************/
 
  @media (min-width: 475px) {
  .about-page {
      max-width: 475px;
      
  }
  .about-page h1 {
    font-size: var(--size-2xl);
  }

  .about-image{
    max-width: 18rem;
    align-items: center;
  }
  .about-description{
    font-size: var(--size-xs);
    max-width: 50ch;
  }
  .about__line {
    width: 60%;
  }
  
  .about__meet-the-team {
    flex-direction: column;
    max-width: 43.75rem;
    gap: 1rem;
    margin-top: 2rem;

  }
  .about__team {
    justify-content: center; 
    align-items: center; 
    width: 8rem;
    }
  
  .about__the-team-container h2 {
    font-size: var(--size-lg);
    letter-spacing: 0.2rem;
    }
    .about__desc-team p{
    font-size: var(--size-xs);
    max-width: 45ch;
    }
    .about__name .NLine{
      display: none; 
    }
    .about__name {
    font-size: var(--size-sm);
    }
    .about__role {
    white-space: nowrap;

   }
  }

  @media (min-width: 640px) {
  .about-page {
      max-width: 640px;
  }
  .about-description{
    max-width: 65ch;}
  .about__desc-team p{
      max-width:60ch;
  }
  .about__line {
    width: 60%;
  }
} 

  @media (min-width: 768px) {
  .about-page {
      max-width: 768px;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
  }
  .about-page h1 {
    font-size: var(--size-3xl);
  }

  .about-image{
    max-width: 20rem;
    align-items: center;
  }
  .about-description{
    font-size: var(--size-sm);
    max-width: 70ch;
  }
  .about__line{
   width: 75% ;
  }
  .about__meet-the-team {
    display: flex;
    flex-direction: row;
    max-width: 43.125rem;
    gap: 1rem;

  }
   .about__team img{
    width: 6rem; 
     max-width: 100%;
  }
  .about__the-team-container h2 {
    font-size: var(--size-xl);
    letter-spacing: 0.2rem;
    }
    .about__desc-team p{
    font-size: var(--size-sm);/**/
    max-width: 70ch;
    }
  .about__name, .NLine {
    font-size: var(--size-xs);
    white-space: normal;
  }
  .about__role {
    font-size: var(--size-xs);
    white-space: nowrap;

  }
  }


  @media (min-width: 1024px) {
    .about-page {
        max-width: 1024px;
    }
    .about-image{
      max-width: 24rem;
    }
    .about-description{
      max-width: 90ch;}
    .about__desc-team p{
        max-width:90ch;
    }
    .about__team {
      width: 11rem;
          }
    .about__meet-the-team {
      display: flex;
      max-width: 56.25rem;
      gap: 1rem;
    }
    .about__line {
      width: 75%;
    }
      
    .about__name, .NLine {
      font-size: var(--size-sm);
      letter-spacing: 0.04rem;
      white-space: normal;
    }
    .about__role {
      font-size: var(--size-sm);
    }
    

  }
  
  @media (min-width: 1280px) {
  .about-page {
      max-width: 1280px;
      padding-left: 2rem;
      padding-right: 2rem;
  }
  .about-page h1 {
    font-size: var(--size-4xl);
  }

  .about-image{
    max-width: 30rem;
    align-items: center;
  }
  .about-description{
    font-size: var(--size-lg);
    line-height: 2rem;
    max-width: 100ch;
  }
  .about__line{
   width: 80% ;
  }
  .about__meet-the-team {
    display: flex;
    max-width: 56.25rem;
    gap: 3rem;
  }
  .about__the-team-container h2 {
    font-size: var(--size-2xl);
    letter-spacing: 0.2rem;
    }
    .about__desc-team p{
    font-size: var(--size-base);
    max-width: 90ch;
    }
    .about__team img {
      width: 9rem;
      }
  .about__name .NLine {
    font-size: var(--size-base);
    white-space: normal;
  }
  .about__role {
    font-size: var(--size-base);
  }

}

@media (min-width: 1536px) {
  .about-page {
      max-width: 1536px;
  }
  .about-image{
    max-width: 28rem;
  }
  .about-description{
    max-width: 105ch;
  }
  .about__meet-the-team {
    display: flex;
    max-width: 62.5rem;
    gap: 2.5rem;
  }
  .about__desc-team{
    max-width: 105ch;
  }
  .about__team img {
    width: 8rem;  
    }
    .about__line {
      width: 80%;
    }
  .about__name .NLine {
      display: none; 
    }
  .about__name {
    font-size: var(--size-base);
    white-space: normal;
    letter-spacing: 0.03rem;

  }
}


 
  













