.searchBox__content-search {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.searchBox__content-searchBar-wrapper {
    display: flex;
    background-color: var(--clr-gray);
    border-radius: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    gap: 1rem;
}

.searchBox__content-searchBarImg {
    width: var(--size-xl);
}

.searchBox__content-searchBar {
    width: 100%;
    background: none;
    border: none;
    font-size: var(--size-base);
    color: var(--clr-primary);
}

.searchBox__content-search-result-prompt {
    text-align: center;
    font-size: var(--size-xs);
}

.searchBox__content-search-result {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    list-style-type: none;
    padding-inline-start: 0.5rem;
    padding-inline-end: 0.5rem;
}

.searchBox__content-search-result-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--clr-light);
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    gap: 1.5rem;
    transition:
        background-color 0.3s ease-in,
        border-radius 0.3s ease-in;
    cursor: pointer;
}

.searchBox__content-search-result-item:hover {
    background-color: var(--clr-light);
    border-radius: 1rem;
}

.searchBox__content-search-result-play,
.searchBox__content-search-result-pause {
    width: var(--size-xl);
    height: var(--size-xl);
    transition: color 0.3s ease-in;
}

.searchBox__content-search-result-play:hover {
    color: var(--clr-primary) !important;
}

.searchBox__content-search-result-item:hover
    .searchBox__content-search-result-play,
.searchBox__content-search-result-item:hover
    .searchBox__content-search-result-pause {
    color: var(--clr-dark);
}

.searchBox__content-search-result-item:hover
    .searchBox__content-search-result-addButton,
.searchBox__content-search-result-item:hover
    .searchBox__content-search-result-addedPrompt {
    color: var(--clr-primary);
}

.searchBox__content-search-result-albumImg {
    width: var(--size-3xl);
    height: var(--size-3xl);
}

.searchBox__content-search-result-songName {
    font-weight: bold;
    transition: color 0.3s ease-in;
}

.searchBox__content-search-result-item:hover
    .searchBox__content-search-result-songName {
    color: var(--clr-primary);
}

.searchBox__content-search-result-songDetails {
    transition: color 0.3s ease-in;
}

.searchBox__content-search-result-item:hover
    .searchBox__content-search-result-songDetails {
    color: var(--clr-dark);
}

.searchBox__content-search-result-songName {
    font-size: var(--size-xs);
}

.searchBox__content-search-result-songDetails {
    font-size: var(--size-xxs);
}

.searchBox__content-search-result-addButton {
    margin-left: auto;
    color: var(--clr-light);
    transition: color 0.3s ease-in-out;
}

.searchBox__content-search-result-addedPrompt {
    font-size: var(--size-xs);
    margin-left: auto;
    color: var(--clr-light);
    transition: color 0.3s ease-in-out;
}

.searchBox__content-search-result-addButton:hover svg {
    fill: var(--clr-primary);
}

.searchBox__content-search-result-addButtonImg {
    display: block;
    width: var(--size-xl);
    height: var(--size-xl);
}

.searchBox__content-search-result-audio {
    width: 0;
    height: 0;
    visibility: hidden;
    display: none;
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
@media (min-width: 640px) {
    .searchBox__content-searchBarImg {
        width: var(--size-xl);
    }

    .searchBox__content-searchBar {
        font-size: var(--size-lg);
    }

    .searchBox__content-search-result-prompt {
        font-size: var(--size-sm);
    }

    .searchBox__content-search-result-play {
        width: var(--size-2xl);
        height: var(--size-2xl);
    }

    .searchBox__content-search-result-albumImg {
        width: var(--size-4xl);
        height: var(--size-4xl);
    }

    .searchBox__content-search-result-songName {
        font-size: var(--size-sm);
    }

    .searchBox__content-search-result-songDetails {
        font-size: var(--size-xs);
    }
    .searchBox__content-search-result-addedPrompt {
        font-size: var(--size-sm);
    }

    .searchBox__content-search-result-addButtonImg {
        width: var(--size-2xl);
        height: var(--size-2xl);
    }
}

/* md */
/* @media (min-width: 768px) {} */

/* lg */
@media (min-width: 1024px) {
    .searchBox__content-search {
        gap: 2rem;
    }

    .searchBox__content-searchBar-wrapper {
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
        gap: 1.5rem;
    }

    .searchBox__content-search-result {
        gap: 2rem;
        padding-inline-start: 1rem;
        padding-inline-end: 1rem;
    }

    .searchBox__content-search-result-item {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        gap: 2rem;
    }

    .searchBox__content-searchBarImg {
        width: var(--size-2xl);
    }

    .searchBox__content-searchBar {
        font-size: var(--size-xl);
    }

    .searchBox__content-search-result-prompt {
        text-align: left;
        font-size: var(--size-base);
    }

    .searchBox__content-search-result-play {
        width: var(--size-3xl);
        height: var(--size-3xl);
    }

    .searchBox__content-search-result-albumImg {
        width: var(--size-5xl);
        height: var(--size-5xl);
    }

    .searchBox__content-search-result-songName {
        font-size: var(--size-base);
    }

    .searchBox__content-search-result-songDetails {
        font-size: var(--size-sm);
    }

    .searchBox__content-search-result-addedPrompt {
        font-size: var(--size-base);
    }

    .searchBox__content-search-result-addButtonImg {
        width: var(--size-3xl);
        height: var(--size-3xl);
    }
}

/* xl */
@media (min-width: 1280px) {
    .searchBox__content-searchBarImg {
        width: var(--size-3xl);
    }

    .searchBox__content-searchBar {
        font-size: var(--size-2xl);
    }

    .searchBox__content-search-result-prompt {
        font-size: var(--size-lg);
    }

    .searchBox__content-search-result-play {
        width: var(--size-4xl);
        height: var(--size-4xl);
    }

    .searchBox__content-search-result-albumImg {
        width: var(--size-6xl);
        height: var(--size-6xl);
    }

    .searchBox__content-search-result-songName {
        font-size: var(--size-lg);
    }

    .searchBox__content-search-result-songDetails {
        font-size: var(--size-base);
    }

    .searchBox__content-search-result-addedPrompt {
        font-size: var(--size-lg);
    }

    .searchBox__content-search-result-addButtonImg {
        width: var(--size-4xl);
        height: var(--size-4xl);
    }
}

/* 2xl */
@media (min-width: 1536px) {
    /* .searchBox__content-searchBarImg {
        width: var(--size-4xl);
    }

    .searchBox__content-searchBar {
        font-size: var(--size-3xl);
    }

    .searchBox__content-search-result-prompt {
        font-size: var(--size-xl);
    }

    .searchBox__content-search-result-play {
        width: var(--size-5xl);
        height: var(--size-5xl);
    }

    .searchBox__content-search-result-albumImg {
        width: var(--size-7xl);
        height: var(--size-7xl);
    }

    .searchBox__content-search-result-songName {
        font-size: var(--size-xl);
    }

    .searchBox__content-search-result-songDetails {
        font-size: var(--size-lg);
    }

    .searchBox__content-search-result-addedPrompt {
        font-size: var(--size-xl);
    }

    .searchBox__content-search-result-addButtonImg {
        width: var(--size-5xl);
        height: var(--size-5xl);
    } */
}
