.flip__main {
    display: flex;
    justify-content: space-between;
    opacity: 0.5; /* Reduce opacity for non-active cards */
    transition: transform 0.3s ease-in-out;
}

.active {
    transform: scale(1.1);
    opacity: 1; /* Full opacity for the active card */
}

.flip-card {
    /* cursor: pointer; */
    background-color: transparent;
    width: 8rem;
    height: 13rem;
    perspective: 900px;
}

.flip-card-inner {
    transform-style: preserve-3d;
    text-align: center;
    transition: transform 0.6s;
    width: 100%;
    height: 100%;
}

.flip-card.active:hover .flip-card-inner {
    transform: scale(1.2) rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    backface-visibility: hidden;
    border-radius: 0.5rem;
    width: 100%;
    height: 100%;
}

.flip-card-back-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    max-width: 90%;
}

.flip-card-front {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--clr-purple);
    color: var(--clr-main);
}

.card__img {
    width: auto;
    max-width: 100%;
    max-height: 100%;
}

.card__title {
    font-weight: 600;
}

.card__title {
    font-size: var(--size-xs);
}

.flip-card-back {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    background-color: var(--clr-purple);
    color: var(--clr-main);
    font-size: var(--size-xxs);
    padding: 0.5rem;
    transform: rotateY(180deg);
}

.card__description {
    font-size: var(--size-xxs);
    width: 28ch;
    max-width: 100%;
    margin: auto;
}

.home__personality-carousel {
    min-width: 100%;
    min-height: 25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
}

.carousel-control {
    display: none;
    background: none;
    border: none;
    color: var(--clr-accent);
    cursor: pointer;
    transition: color 0.3s;
}

.carousel-control:hover {
    color: var(--clr-secondary);
}

.card__percentage {
    font-style: italic;
    font-weight: 600;
}

.card__percentage {
    font-style: italic;
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
@media (min-width: 640px) {
    .flip-card {
        width: 11.5rem;
        height: 17.5rem;
    }

    .home__personality-carousel {
        min-height: 30rem;
    }

    .card__img {
        height: 15rem;
        /* margin-top: 0.4rem; */
    }

    .card__title {
        font-size: var(--size-sm);
    }

    .card__description,
    .flip-card-back {
        font-size: var(--size-xs);
    }

    .carousel-control {
        width: 5rem;
        height: 10rem;
    }
}

/* md */
@media (min-width: 768px) {
    .carousel-control {
        display: block;
    }
}

/* lg */
@media (min-width: 1024px) {
    .flip-card {
        width: 14rem;
        height: 21rem;
    }

    .card__img {
        height: 18rem;
        /* margin-top: 1.1rem; */
    }

    .home__personality-carousel {
        min-height: 35rem;
    }

    .card__title {
        font-size: var(--size-base);
    }

    .card__description,
    .flip-card-back {
        font-size: var(--size-sm);
    }

    .carousel-control {
        width: 7.5rem;
        height: 15rem;
    }
}

/* xl */
@media (min-width: 1280px) {
    .home__personality-carousel {
        min-height: 40rem;
    }

    .flip-card {
        width: 17rem;
        height: 24rem;
    }

    .card__img {
        height: 21rem;
    }

    .card__title {
        font-size: var(--size-lg);
    }

    .card__description,
    .flip-card-back {
        font-size: var(--size-base);
    }

    .carousel-control {
        width: 10rem;
        height: 20rem;
    }
}

/* 2xl */
/* @media (min-width: 1536px) {} */
