.result-container {
    height: 1920px;
    width: 1080px;
    background-color: #1a212c;
    background-image: url(../../assets/finalImageBg.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.result-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    height: 93%;
    gap: 4rem;
}

.result-title {
    font-family: "MuseoModerno", sans-serif;
    font-size: var(--size-7xl);
    text-align: center;
    letter-spacing: 0.2rem;
    color: var(--clr-secondary);
}

.result-yellow {
    color: var(--clr-accent);
}

.result-hr {
    width: 90%;
    height: 4px;
    border: none;
    background-color: var(--clr-accent);
    border-radius: 0.5rem;
}

.result-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
}

.result-item-index {
    color: var(--clr-secondary);
    font-size: var(--size-6xl);
    font-weight: 600;
    width: 2.15rem;
}

.result-item-details-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.result-item-details-songName {
    font-size: var(--size-3xl);
    color: var(--clr-white);
    font-weight: 600;
}

.result-item-details-songArtist {
    font-size: var(--size-lg);
    color: var(--clr-white);
}

.result-item-track-img {
    width: 4.5rem;
}

.result-selected-section,
.result-taste-section {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.result-secondaryTitle {
    font-size: var(--size-4xl);
    color: var(--clr-white);
}

.secondaryTitle-yellow {
    color: var(--clr-accent);
}

.result-item-container {
    display: flex;
    flex: 1;
    gap: 2rem;
}
