.main-wrapper {
    display: flex;
    margin-top: 2rem;
    height: 100%;
    gap: 1.5rem;
}

.main__sidebar {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 1.5rem;
    gap: 1.5rem;
    background-color: var(--clr-gray);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.main__sidebar-title {
    text-transform: uppercase;
    color: var(--clr-primary);
    font-weight: bold;
    font-size: var(--size-2xl);
    letter-spacing: 0.15em;
}

.main__sidebar-list {
    display: flex;
    flex-direction: column;
    margin-left: -1.5rem;
    gap: 1.5rem;
}

.main__sidebar-item {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    transition:
        background-color 0.3s,
        color 0.3s;
}

.main__sidebar-item:hover {
    background-color: var(--clr-light);
}

.main__sidebar-item:hover .main__sidebar-number,
.main__sidebar-item:hover .main__sidebar-details-songName {
    color: var(--clr-primary);
}

.main__sidebar-item:hover .main__sidebar-details-songDetails,
.main__sidebar-item:hover .main__sidebar-removeBtn {
    color: var(--clr-dark);
}

.main__sidebar-number {
    font-size: var(--size-xl);
    font-weight: bold;
}

.main__sidebar-albumImg {
    width: var(--size-6xl);
    height: var(--size-6xl);
}

.main__sidebar-details-songName {
    font-weight: bold;
    font-size: var(--size-lg);
}

.main__sidebar-details-songDetails {
    font-size: var(--size-lg);
}

.main__sidebar-removeBtn {
    font-size: var(--size-2xl);
}

.main__sidebar-getResultBtn {
    text-transform: uppercase;
    align-self: flex-end;
    margin-top: auto;
    position: relative;
    transition: color 0.3s ease-in-out;
}

.main__sidebar-getResultBtn::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: var(--clr-primary);
    opacity: 0;
    transition:
        opacity 0.3s ease-in-out,
        transform 0.3s ease-in-out;
}

.main__sidebar-getResultBtn:hover {
    color: var(--clr-primary);
}

.main__sidebar-getResultBtn:hover::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
}

.main__content {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main__content-title {
    font-size: var(--size-5xl);
    color: var(--clr-primary);
    letter-spacing: 0.1em;
}

.main__content-desc {
    font-size: var(--size-lg);
    max-width: 60ch;
}

.main__content-search {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.main__content-searchBar-wrapper {
    display: flex;
    background-color: var(--clr-gray);
    border-radius: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    gap: 1rem;
}

.main__content-searchBarImg {
    width: var(--size-4xl);
}

.main__content-searchBar {
    width: 100%;
    background: none;
    border: none;
    font-size: var(--size-xl);
    color: var(--clr-primary);
}

.main__content-search-result {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    list-style-type: none;
}

.main__content-search-result-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--clr-light);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    gap: 1.5rem;
    transition:
        background-color 0.3s ease-in,
        border-radius 0.3s ease-in;
    cursor: pointer;
}

.main__content-search-result-item:hover {
    background-color: var(--clr-light);
    border-radius: 1rem;
}

.main__content-search-result-play {
    width: var(--size-6xl);
    height: var(--size-6xl);
    transition: color 0.3s ease-in;
}

.main__content-search-result-item:hover .main__content-search-result-play {
    color: var(--clr-primary);
}

.main__content-search-result-albumImg {
    width: var(--size-6xl);
    height: var(--sze-6xl);
}

.main__content-search-result-songName {
    font-weight: bold;
    letter-spacing: 0.15em;
    transition: color 0.3s ease-in;
}

.main__content-search-result-item:hover .main__content-search-result-songName {
    color: var(--clr-primary);
}

.main__content-search-result-songDetails {
    transition: color 0.3s ease-in;
}

.main__content-search-result-item:hover
    .main__content-search-result-songDetails {
    color: var(--clr-dark);
}
