.personality {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    width: 100%;
}

.personality__title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.personality__title {
    color: var(--clr-secondary);
    font-size: var(--size-3xl);
    text-align: center;
}

.personality__title-desc {
    max-width: 40ch;
    text-align: center;
}

.personality__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
}

.personality__result-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 1rem;
    /* width: 100%; */
}

.personality__result-img {
    height: 25rem;
    width: 17.5rem;
}

.personality__result-title {
    font-size: var(--size-3xl);
    font-weight: 600;
}

.personality__description {
    max-width: 80%;
    text-align: center;
    font-size: var(--size-sm);
}

.personality__graph-wrapper {
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.personality__radialBar-container {
    width: 20rem;
    height: 20rem;
}

.personality__graph-data-wrapper {
    display: flex;
    align-items: center;
    width: 15rem;
}

.personality__graph-data-feature {
    color: var(--clr-white);
    flex: 1;
}

.personality__graph-data-percentage {
    margin-left: 1rem;
    text-align: right;
    width: 2rem;
}

.personality__graph-data-feature,
.personality__graph-data-percentage {
    font-size: var(--size-sm);
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
@media (min-width: 640px) {
    .personality__title {
        font-size: var(--size-4xl);
    }

    .personality__title-desc {
        font-size: var(--size-lg);
    }

    .personality__result-img {
        height: 30rem;
        width: 24rem;
    }

    .personality__result-title {
        font-size: var(--size-4xl);
    }

    .personality__description {
        font-size: var(--size-base);
    }

    .personality__radialBar-container {
        width: 30rem;
        height: 30rem;
    }

    .personality__graph-data-feature,
    .personality__graph-data-percentage {
        font-size: var(--size-base);
    }
}

/* md */
/* @media (min-width: 768px) {} */

/* lg */
@media (min-width: 1024px) {
    .personality__wrapper {
        flex-direction: row;
        justify-content: space-around;
    }
}

/* xl */
@media (min-width: 1280px) {
    .personality__title {
        font-size: var(--size-5xl);
    }

    .personality__title-desc {
        font-size: var(--size-xl);
    }

    .personality__result-img {
        height: 35rem;
        width: 29rem;
    }

    .personality__result-title {
        font-size: var(--size-5xl);
    }

    .personality__description {
        font-size: var(--size-lg);
    }

    .personality__radialBar-container {
        width: 35rem;
        height: 35rem;
    }

    .personality__graph-data-feature,
    .personality__graph-data-percentage {
        font-size: var(--size-lg);
    }
}

/* 2xl */
/* @media (min-width: 1536px) {} */
