.personality {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.personality__title {
    color: var(--clr-primary);
    font-size: var(--size-4xl);
    text-align: center;
}

.personality__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.personality__result-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: var(--clr-secondary);
    border-radius: 1rem;
}

.personality__result-img {
    height: 30rem;
    width: 20rem;
}

.personality__result-title {
    font-size: var(--size-4xl);
    font-weight: 600;
}

.personality__description {
    max-width: 80%;
    text-align: center;
    font-size: var(--size-base);
}

.personality__graph-wrapper {
    width: 20rem;
    height: 30rem;
}

.personality__graph-data-wrapper {
    display: flex;
    align-items: center;
    width: 10rem;
}

.personality__graph-data-feature {
    color: var(--clr-white);
    flex: 1;
}

.personality__graph-data-percentage {
    margin-left: 1rem;
    text-align: right;
    width: 2rem;
}

.personality__graph-data-feature,
.personality__graph-data-percentage {
    font-size: var(--size-xs);
}

.recharts-legend-item {
    display: flex !important;
    align-items: center;
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
@media (min-width: 1280px) {
    .personality__title {
        font-size: var(--size-4xl);
    }
}

/* 2xl */
/* @media (min-width: 1536px) {} */
