.profile {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    min-height: 70vh;
}

.profile__details-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
}

.profile__title {
    display: flex;
    gap: 1rem;
    font-size: var(--size-2xl);
    color: var(--clr-secondary);
}

.profile__editButton {
    color: var(--clr-accent);
    width: 1.5rem;
    transition: filter 0.3s;
}

.profile__editButton:hover {
    filter: brightness(75%);
}

.profile__editUsernameOverlay {
    position: fixed;
    background-color: #19191975;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile__editUsername {
    background-color: var(--clr-secondary);
    padding: 2rem;
    border-radius: 1rem;
    gap: 1rem;
    width: 18rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile__editTitle {
    align-self: start;
    font-size: var(--size-2xl);
    color: var(--clr-main);
}

.profile__editSub {
    align-self: start;
    font-weight: 600;
    color: var(--clr-main);
}

.profile__buttons-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.5rem;
}

.profile__cancelButton {
    width: 7.5rem;
    padding: 0.25rem 0.75rem;
    font-weight: 600;
    border-radius: 1rem;
    background-color: var(--clr-error);
    transition: filter 0.3s;
}

.profile__saveButton {
    width: 7.5rem;
    padding: 0.25rem 0.75rem;
    border-radius: 1rem;
    background-color: var(--clr-accent);
    color: var(--clr-main);
    font-weight: 600;
    transition: filter 0.3s;
}

.profile__cancelButton:hover,
.profile__saveButton:hover {
    filter: brightness(75%);
}

.profile__age {
    font-size: var(--size-base);
}

.profile__gender {
    font-size: var(--size-base);
}

.profile__hr {
    height: 5px;
    border: none;
    background-color: var(--clr-accent);
    border-radius: 1rem;
}

.profile__secondaryTitle {
    color: var(--clr-secondary);
    text-align: center;
    font-size: var(--size-xl);
}

.profile__history-container {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    list-style-type: none;
    padding-inline-start: 0;
    justify-content: center;
}

.profile__history {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
    padding: 1rem;
    border-radius: 1rem;
    width: 40%;
    cursor: pointer;
    transition: filter 0.3s;
}

.profile__history:hover {
    filter: brightness(75%);
}

.profile__history-date {
    font-size: var(--size-xs);
    color: var(--clr-main);
}

.profile__history-personality {
    font-size: var(--size-base);
    font-weight: 600;
    color: var(--clr-main);
}

.profile__history-img {
    border-radius: 1rem;
    width: 80%;
}

.profile__removeButton {
    background-color: var(--clr-error);
    color: var(--clr-light);
    padding: 0.25rem 0.75rem;
    border-radius: 1rem;
    font-size: var(--size-sm);
    margin-top: 1rem;
}

.profile__selectSort {
    font-size: var(--size-sm);
    padding: 0.5rem;
    border-radius: 1rem;
    width: 10rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: var(--clr-secondary);
    border: none;
    cursor: pointer;
    transition: filter 0.3s;
}

.profile__selectSort:hover {
    filter: brightness(75%);
}

/* xs */
@media (min-width: 475px) {
    .profile__editUsername {
        width: 25rem;
    }
}

/* sm */
@media (min-width: 640px) {
    .profile__editUsername {
        width: 29rem;
    }

    .profile__editTitle {
        font-size: var(--size-3xl);
    }
    .profile__editSub,
    .profile__cancelButton,
    .profile__saveButton {
        font-size: var(--size-lg);
    }

    .profile__title {
        gap: 1.25rem;
        font-size: var(--size-3xl);
    }

    .profile__editButton {
        width: 1.75rem;
    }

    .profile__age {
        font-size: var(--size-lg);
    }

    .profile__gender {
        font-size: var(--size-lg);
    }
    .profile__secondaryTitle {
        font-size: var(--size-2xl);
    }
    .profile__history-date {
        font-size: var(--size-sm);
    }
    .profile__history-personality {
        font-size: var(--size-lg);
    }
    .profile__removeButton {
        font-size: var(--size-base);
    }

    .profile__selectSort {
        font-size: var(--size-base);
        width: 10.5rem;
    }
}

/* md */
@media (min-width: 768px) {
    .profile__history {
        width: 13rem;
    }
}

/* lg */
@media (min-width: 1024px) {
    .profile__details-wrapper {
        align-self: start;
        text-align: left;
    }

    .profile__editUsername {
        width: 32rem;
    }

    .profile__subDetails {
        width: 100%;
    }

    .profile__editTitle {
        font-size: var(--size-4xl);
    }
    .profile__editSub,
    .profile__cancelButton,
    .profile__saveButton {
        font-size: var(--size-xl);
    }

    .profile__history {
        width: 18rem;
    }

    .profile__editButton {
        width: 2rem;
    }

    .profile__title {
        font-size: var(--size-4xl);
    }

    .profile__age {
        font-size: var(--size-xl);
    }

    .profile__gender {
        font-size: var(--size-xl);
    }
    .profile__secondaryTitle {
        font-size: var(--size-3xl);
    }
    .profile__history-date {
        font-size: var(--size-base);
    }
    .profile__history-personality {
        font-size: var(--size-xl);
    }
    .profile__removeButton {
        font-size: var(--size-lg);
    }

    .profile__selectSort {
        font-size: var(--size-lg);
        width: 11rem;
    }
}

/* xl */
@media (min-width: 1280px) {
    .profile__editUsername {
        width: 36rem;
    }

    .profile__history {
        width: 23rem;
    }

    .profile__title {
        gap: 1.5rem;
        font-size: var(--size-5xl);
    }

    .profile__editButton {
        width: 2.25rem;
    }

    .profile__age {
        font-size: var(--size-2xl);
    }

    .profile__gender {
        font-size: var(--size-2xl);
    }
    .profile__secondaryTitle {
        font-size: var(--size-4xl);
    }
    .profile__history-date {
        font-size: var(--size-lg);
    }
    .profile__history-personality {
        font-size: var(--size-2xl);
    }
    .profile__removeButton {
        font-size: var(--size-xl);
    }

    .profile__selectSort {
        font-size: var(--size-xl);
        width: 11.5rem;
    }
}

/* 2xl */
/* @media (min-width: 1536px) {} */
