.main__result-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__result-title {
    text-align: center;
}

.main__result-titleDesc {
    text-align: center;
    color: var(--clr-primary);
    padding-top: 1em;
    max-width: 40ch;
}

.main__result-collage {
    margin-left: auto;
    margin-right: auto;
    padding-top: 3em;
    width: 20%;
}

.main__resultBtn-wrapper {
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.main__resultBtn {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    max-width: 50%;
    gap: 1em;
}

.main__result-downloadBtn,
.main__result-shareBtn {
    font-weight: bold;
    border-radius: 2em;
}

.main__result-downloadBtn {
    color: var(--clr-dark);
    background-color: var(--clr-primary);
    border: 1em solid var(--clr-primary);
    padding-left: 2em;
    padding-right: 2em;
}

.main__result-txt {
    text-align: center;
    color: var(--clr-light);
}

.main__result-shareBtn {
    color: var(--clr-light);
    background-color: var(--clr-gray);
    border: 1em solid var(--clr-gray);
    padding-left: 3.3em;
    padding-right: 3.3em;
}

.main__result-getAnotherResultBtn {
    text-decoration: underline;
    font-weight: bold;
    color: var(--clr-primary);
    padding-bottom: 3em;
}

/* xs */
@media (min-width: 475px) {
    .main__result-title {
        font-size: var(--size-2xl);
    }

    .main__result-titleDesc {
       font-size: var(--size-xs);
    }

    .main__result-collage {
        width: 30%;
    }

    .main__resultBtn {
        flex-direction: column;
    }

    .main__result-downloadBtn,
    .main__result-shareBtn {
        font-size: var(--size-xs);
        padding-left: 3.5em;
        padding-right: 3.5em;
    }

    .main__result-txt {
        font-size: var(--size-xs);
    }
    
    .main__result-getAnotherResultBtn {
        font-size: var(--size-xs);
    }
}

/* sm */
@media (min-width: 640px) {
    .main__result-titleDesc {
       max-width: 50ch;
    }

    .main__resultBtn {
        align-items: center;
        flex-direction: row;
        max-width: 100%;
    }

    .main__result-shareBtn {
        padding-left: 5em;
        padding-right: 5em;
    }
}

/* md */
@media (min-width: 768px) {
    .main__result-title {
        font-size: var(--size-3xl);
    }

    .main__result-titleDesc {
       font-size: var(--size-sm);
    }

    .main__result-collage {
        width: 35%;
    }

    .main__result-downloadBtn,
    .main__result-shareBtn {
        font-size: var(--size-sm);
    }

    .main__result-txt {
        font-size: var(--size-sm);
    }
    
    .main__result-getAnotherResultBtn {
        font-size: var(--size-sm);
    }
}

/* lg */
@media (min-width: 1024px) {
    .main__result-titleDesc {
        max-width: 55ch;
    }

    .main__result-collage {
        width: 25%;
    }
}

/* xl */
@media (min-width: 1280px) {
    .main__result-title {
        font-size: var(--size-4xl);
    }

    .main__result-titleDesc {
       font-size: var(--size-base);
    }

    .main__result-collage {
        width: 20%;
    }

    .main__result-downloadBtn,
    .main__result-shareBtn {
        font-size: var(--size-base);
    }

    .main__result-txt {
        font-size: var(--size-base);
    }
    
    .main__result-getAnotherResultBtn {
        font-size: var(--size-base);
    }
}

/* 2xl */
@media (min-width: 1536px) {
    .main__result-titleDesc {
        max-width: 65ch;
    }

    .main__result-collage {
        width: 15%;
    }
}
