.contact-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.contact-title {
    font-size: var(--size-xl);
    letter-spacing: 0.18rem;
    margin-bottom: 0.63rem;
}

.contact-page-container h2 {
    margin-bottom: 1rem;
    font-size: var(--size-base);
    color: var(--clr-secondary);
}
.contact-page-container p {  
    font-size: var(--size-sm);
    text-align: center;
    max-width: 100%;
    color: var(--clr-secondary);
}
.contact__line {
    width: 80%;
    border-top: 0.125em solid var(--clr-secondary);
    background-color: var(--clr-secondary);
    margin: 2rem auto;
}

form {
    margin: 2rem auto;
    width: 100%;
    padding: 1.25rem;
    border-radius: 1.875rem;
    background-color: var(--clr-gray);
}
.contact__form-group {
    margin: 0.63rem 0;
    margin-top: 1.75rem;
}
.contact__form-input {
    font-size: var(--size-xs);

}

input,
textarea {
    width: 100%;
    padding: 0.63rem;
    border: 0.13rem solid var(--clr-white);
    border-radius: 0.63rem;
}
textarea[name="message"] {
    height: 8rem;
}
.contact__submit-Btn {
    display: flex;
    justify-content: center;
    padding: 0.63rem 1.25rem;
    border: none;
    font-size: var(--size-sm);
    font-weight: bold;
    color: var(--clr-main);
    background-color: var(--clr-white);
    border-radius: 2.5rem;
    margin: 1rem auto;
    transition:
        background-color 0.3s,
        color 0.3s;
}

.contact__submit-Btn:hover {
    color: var(--clr-main);
    background-color: var(--clr-secondary);
}
.contact__submit-Btn:active {
    transform: translateY(0.25rem);
}
.contact__message-popup {
    position: fixed;
    top: 0.63rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--clr-secondary);
    color: var(--clr-white);
    padding: 0.25rem 0.25rem;
    border-radius: 0.31rem;
    text-align: center;
    z-index: 999;
}

@media (min-width: 475px) {
    
    .contact-page-container h1 {
        font-size: var(--size-2xl);
    }
    .contact-page-container p {
        font-size: var(--size-xs);
        max-width: 50ch;
    }
    .contact-page-container h2 {
        font-size: var(--size-lg);
    }
    .contact__line {
        width: 70%;
    }
    form {
        max-width: 34.375rem;
    }
    .contact__form-input {
        font-size: var(--size-sm);
    }
    .contact__submit-Btn {
        margin-top: 2rem;
        margin-bottom: 1.75rem;
        width: 12rem;
    }
    textarea[name="message"] {
        height: 8rem;
    }
    .contact__form-input {
        font-size: var(--size-xs);
    }
    .contact__message-popup {
        width: 10.625rem;
        font-size: var(--size-xs);
    }
}

@media (min-width: 640px) {
    
    .contact-page-container h1 {
        font-size: var(--size-2xl);
    }

    form {
        max-width: 25rem;
    }
    
    .contact__form-input {
        font-size: var(--size-sm);
    }
    .contact__submit-Btn {
        width: 12rem;
    }
}

@media (min-width: 768px) {
    
    .contact-page-container h1 {
        font-size: var(--size-3xl);
    }
    .contact-page-container p {
        font-size: var(--size-sm);
        max-width: 50ch;
    }
    .contact-page-container h2 {
        font-size: var(--size-lg);
    }
    .contact__line {
        width: 75%;
    }
    .contact__form-input {
        font-size: var(--size-sm);
    }
    form {
        max-width: 34.375rem;
    }
    .contact__submit-Btn {
        width: 14rem;
    }

    textarea[name="message"] {
        height: 10rem;
    }
    .contact__message-popup {
        width: 12.5rem;
        font-size: var(--size-sm);
    }
}

@media (min-width: 1024px) {
   

    .contact-page-container p {
        margin-top: 1rem;
        max-width: 70ch;
    }

    .contact__submit-Btn {
        width: 12rem;
    }

    .contact__message-popup {
        width: 14.375rem;
        font-size: var(--size-base);
    }
}

@media (min-width: 1280px) {
   
    .contact-page-container h1 {
        font-size: var(--size-3xl);
    }
    .contact-page-container p {
        font-size: var(--size-base);
        max-width: 75ch;
    }
    .contact-page-container h2 {
        font-size: var(--size-xl);
    }
   
    form {
        max-width: 37.5rem;
    }
    .contact__form-input {
        font-size: var(--size-base);
    }
    .contact__submit-Btn {
        width: 12rem;
    }
    textarea[name="message"] {
        height: 12rem;
    }
    .contact__message-popup {
        padding: 0.75rem;
        width: 16.25rem;
        font-size: var(--size-xl);
    }
}

@media (min-width: 1536px) {
    
    .contact-page-container p {
        max-width: 80ch;
    }
    .contact__line {
        width: 78%;
    }
    form {
        max-width: 43.75rem;
    }
    .contact__form-input {
        font-size: var(--size-base);
    }
    .contact__submit-Btn {
        width: 14rem;
    }
}