.contact-title {
    font-weight: bold !important;
    text-align: center;
    font-size: var(--size-3xl);
    margin-bottom: 0.63rem;
    font-family: "MuseoModerno", sans-serif;
}
.contact-highlight {
    color: var(--clr-secondary); /* Change the color for 'CONTACT' */
    font-weight: bold !important;
}

.us-highlight {
    color: var(--clr-accent);
}
.contact-description {
    text-align: center;
    font-size: var(--size-lg);
}
.contact-description .break {
    display: none;
}
.default-image {
    display: block;
}

.alternate-image {
    display: none;
}

.form-heading {
    font-size: var(--size-xl);
}

.form-description {
    margin-bottom: 1.2rem;
}

.form-description p {
    text-align: left;
    display: block;
    font-size: var(--size-sm);
}
form {
    margin: 2rem auto;
    width: 100%;
    padding: 1.25rem;
    border-radius: 0.5rem;
    background-color: var(--clr-secondary);
}

.contact__form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0.63rem 0;
    margin-top: 1rem;
    width: 100%;
}
.contact__form-input {
    font-size: var(--size-xs);
    width: 100%;
    transition: box-shadow 0.3s ease;
}

.contact__form-input:focus,
.contact__form-input:not(:placeholder-shown) {
    box-shadow: 0px 2px 5px rgb(61, 61, 61); /* Adjust the values as per your requirement */
}

.contact__form-input:not(:focus):not(:placeholder-shown) {
    box-shadow: none;
}

.Getin-highlight {
    color: var(--clr-main);
    font-weight: bold;
}
.touch-highlight {
    color: var(--clr-accent);
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 1rem;
    border: 0.13rem solid var(--clr-light);
    border-radius: 1rem;
}

textarea[name="message"] {
    height: 8rem;
}

.contact__submit-Btn {
    display: flex;
    justify-content: center;
    padding: 0.63rem 1.25rem;
    border: none;
    font-size: var(--size-sm);
    font-weight: bold !important;
    color: var(--clr-main);
    background-color: var(--clr-accent);
    border-radius: 2.5rem;
    margin: 1rem auto;
    margin-top: 1.5rem;
    margin-bottom: 0.3rem;
    width: 100%;
    transition: filter 0.3s;
}

.contact__submit-Btn:hover {
    border: 2px solid var(--clr-white);
    background-color: var(--clr-secondary);
    color: var(--clr-accent);
}

/* xs */
@media (min-width: 475px) {
    .contact-page-container {
        max-width: 475px;
    }
    .default-image {
        display: block;
    }

    .alternate-image {
        display: none;
    }

    form {
        max-width: 400px;
    }
}

/* sm */
@media (min-width: 640px) {
    .contact-title {
        font-size: var(--size-4xl);
    }

    .contact-description {
        font-size: var(--size-xl);
    }

    .contact-page-container {
        max-width: 640px;
    }

    form {
        max-width: 500px;
    }

    .contact-image {
        display: flex; /* Use flexbox */
        justify-content: center; /* Center the image horizontally */
        align-items: center; /* Center the image vertically */
        width: 30rem;
    }
}

/* md */
@media (min-width: 768px) {
    .contact-page-container {
        max-width: 768px;
        padding-right: 1.5rem;
    }
    .contact-title {
        text-align: left;
    }

    .contact-description {
        text-align: justify;
    }

    .contact__form-group {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .default-image {
        display: none;
    }

    .alternate-image {
        display: block;
        margin-right: 2.5rem;
    }

    form {
        width: 600px;
    }
}

/* lg */
@media (min-width: 1024px) {
    .contact-page-container {
        max-width: 1024px;
    }

    .contact-title {
        font-size: var(--size-5xl);
    }

    .contact-description {
        font-size: var(--size-xl);
    }

    .contact-description .break {
        display: block;
    }
    .alternate-image {
        display: block;
        width: 35rem;
    }
}

/* xl */
@media (min-width: 1280px) {
    .contact-page-container {
        max-width: 1280px;
        padding-right: 2rem;
    }
    form {
        min-width: 550px;
    }
    .contact-image {
        width: 100rem;
    }
}

/* 2xl */
@media (min-width: 1536px) {
    .contact-page-container {
        max-width: 1536px;
    }

    .contact-title {
        font-size: var(--size-4xl);
    }
    .contact-description {
        font-size: var(--size-lg);
    }
    .contact__form-group {
        max-width: 1536px;
        width: 100%;
    }

    form {
        min-width: 700px;
        width: 50rem;
    }

    .alternate-image {
        height: 50rem;
    }
}
