.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.home_main-title {
    color: var(--clr-primary);
    font-size: var(--size-2xl);
}

.home_main-description {
    font-size: var(--size-sm);
}

.login-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.login-button {
    background-color: var(--clr-light);
    color: var(--clr-dark);
    font-weight: bold;
    padding: 0.5rem 1.5rem;
    border-radius: 1rem;
    font-size: var(--size-base);
}

.home__spotify-ack-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    color: #4ecca3;
    font-weight: bold;
}

.home__login-spotify-img {
    width: 10rem;
}

/* xs */
@media (min-width: 475px) {
    .home-container {
        flex-direction: column;
    }

    .home-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .home-wrapper h1 {
        padding-top: 3rem;
    }

    .home_main-description {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .login-button {
        display: flex;
        justify-content: center;
        padding: 0.5rem 1.5rem;
        border-radius: 2rem;
    }
}

/* sm */
@media (min-width: 640px) {
    .home-container {
        flex-direction: column;
    }

    .home_main-description {
        display: flex;
        justify-content: center;
        text-align: center;
    }
}

/* md */
@media (min-width: 768px) {
    .home-container {
        flex-direction: column;
    }

    .home-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .home-wrapper h1 {
        padding-top: 3rem;
    }

    .home_main-description {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .login-button {
        display: flex;
        justify-content: center;
    }
}

/* lg */
@media (min-width: 1024px) {
    .home-container {
        flex-direction: row;
    }

    .home-wrapper {
        display: flex;
        align-items: start;
        flex: 1;
    }

    .home-wrapper h1 {
        /* padding-top: 8rem; */
    }

    .home_main-description {
        display: flex;
        justify-content: center;
        text-align: start;
    }

    .login-container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    /* .model_home-container {
        flex: 1;
    } */

    .model_img {
        width: 45rem;
    }
}

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */
