.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.home-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.home__img-container {
    /* width: 100%; */
    position: relative;
}

.home__img {
    width: 30rem;
    height: 30rem;
}

.home__mascot-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.home__title-wrapper {
    display: flex;
    flex-direction: column;
}

.home__main-title {
    text-align: center;
    color: var(--clr-primary);
    font-size: var(--size-4xl);
}

.home__main-description {
    font-size: var(--size-base);
    max-width: 35ch;
}

.home__login-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.home__login-button {
    background-color: var(--clr-mustard);
    color: var(--clr-dark);
    font-weight: bold;
    font-size: var(--size-base);
    border-radius: 1rem;
}

.home__spotify-ack-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    color: var(--clr-light);
    font-weight: bold;
}

.home__login-spotify-img {
    width: 7rem;
}

.home-container-2 {
    min-height: 100vh;
    min-width: 100vw;
    background-color: var(--clr-primary);
}

.home-container-3 {
    min-height: 100vh;
}

/* xs */
@media (min-width: 475px) {
    .home-container {
        flex-direction: column;
    }

    .home-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .home-wrapper h1 {
        padding-top: 3rem;
    }

    .home__main-description {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .home__login-button {
        display: flex;
        justify-content: center;
        padding: 0.5rem 1.5rem;
        border-radius: 2rem;
    }
}

/* sm */
@media (min-width: 640px) {
    .home-container {
        flex-direction: column;
    }

    .home__main-description {
        display: flex;
        justify-content: center;
        text-align: center;
    }
}

/* md */
@media (min-width: 768px) {
    .home-container {
        flex-direction: column;
    }

    .home-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .home__main-title {
        font-size: var(--size-4xl);
    }

    .home__main-description {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .home__login-button {
        display: flex;
        justify-content: center;
    }
}

/* lg */
@media (min-width: 1024px) {
    .home-container {
        flex-direction: row;
    }

    .home-wrapper {
        display: flex;
        align-items: start;
        flex: 1;
    }

    .home__main-description {
        display: flex;
        justify-content: center;
        text-align: start;
    }

    .home__login-container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .model_img {
        width: 30rem;
    }
}

/* xl */
@media (min-width: 1280px) {
    .home__main-title {
        font-size: var(--size-5xl);
    }

    .home__main-description {
        font-size: var(--size-base);
    }

    .home__login-button {
        padding: 0.75rem 3rem;
    }
}

/* 2xl */
/* @media (min-width: 1536px) {} */
