.recommendation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
    gap: 1.5rem;
    margin-top: 5rem;
}

.recommendation__title-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.recommendation__title {
    color: var(--clr-secondary);
    font-size: var(--size-4xl);
    text-align: center;
}

.recommendation__title-desc {
    text-align: center;
    max-width: 35ch;
    font-size: var(--size-xl);
}

.recommendation__finalImage {
    height: 45rem;
    width: 25.3125rem;
    border-radius: 1rem;
}

.recommendation__finalImageWrapper {
    position: relative;
    display: inline-block;
}

.recommendation__overlay-icons {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    position: absolute;
    top: 0;
    right: 0;
}

.recommendation__finalImageLink {
    width: var(--size-2xl);
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
@media (min-width: 1280px) {
    .recommendation__title {
        font-size: var(--size-4xl);
    }
}

/* 2xl */
/* @media (min-width: 1536px) {} */
