.recommendation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
    gap: 1.5rem;
    margin-top: 5rem;
}

.recommendation__title {
    color: var(--clr-primary);
    font-size: var(--size-2xl);
    text-align: center;
}

.personality__collage {
    height: 30rem;
    width: 20rem;
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
@media (min-width: 1280px) {
    .recommendation__title {
        font-size: var(--size-4xl);
    }
}

/* 2xl */
/* @media (min-width: 1536px) {} */
