.footer {
    font-weight: 600;
    max-width: 100%;
    padding: 1rem;
    margin-top: 1rem;
    box-shadow: 0px -10px 19px 3px rgba(0, 0, 0, 0.45);
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
}

.footer-text,
.links {
    font-size: var(--size-xs);
}

.footer__link:hover {
    color: var(--clr-accent);
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
@media (min-width: 768px) {
    .footer-text,
    .links {
        font-size: var(--size-sm);
    }
}

/* lg */
@media (min-width: 1024px) {
    .footer-text,
    .links {
        font-size: var(--size-sm);
    }
}

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */
