:root {
    /* colors */
    --clr-primary: #45a083;
    --clr-blue-green: #3f9176;
    --clr-light: #eeeeee;
    --clr-dark: #232931;
    --clr-t-dark: #292b2a8a;
    --clr-gray: #393e46;
    --clr-mustard: #fde767;
    --clr-dark-mustard: #e1cb52;

    /* sizes */
    --size-xxs: 0.5rem; /* 8px */
    --size-xs: 0.75rem; /* 12px */
    --size-sm: 0.875rem; /* 14px */
    --size-base: 1rem; /* 16px default */
    --size-lg: 1.125rem; /* 18px*/
    --size-xl: 1.25rem; /* 20px */
    --size-2xl: 1.5rem; /* 24px */
    --size-3xl: 1.875rem; /* 30px */
    --size-4xl: 2.25rem; /* 36px */
    --size-5xl: 3rem; /* 48px */
    --size-6xl: 3.75rem; /* 60px */
    --size-7xl: 4.5rem; /* 72px */
    --size-8xl: 6rem; /* 96px */
    --size-9xl: 8rem; /* 128px */
    --size-10xl: 10rem; /* 160px */
}

* {
    margin: 0;
    line-height: calc(1em + 0.5rem);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--clr-dark);
}

.page-wrapper {
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    color: var(--clr-light);
}

h2 {
    font-family: "MuseoModerno", sans-serif;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    user-select: none;
}

button {
    display: block;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    color: inherit;
    line-height: calc(1em + 0.5rem);
}

a {
    text-decoration: none;
    color: inherit;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}
